<%- include('partials/header') %>

    <section id="sec1">
        <div class="main-info-container">
            <div class="main-info">
                <div class="text-container">
                    <h1 class="h1-style">Reduce your carbon footprint</h1>
                    <div class="wrapper">
                        <div class="static-text">Get involved. Save </div>
                        <ul class="dynamic-text">
                            <li>the planet</li>
                            <li>you</li>
                        </ul>
                    </div>
                </div>

                <div class="main-section-buttons">
                    <div class="button-container">
                        <button class="btn-primary">Download</button>
                        <button class="btn-secondary" href="#sec2">About Us</a>
                    </div>
                </div>
            </div>
            <!-- <img class="iphone-img" src="images/pngwing.png" alt="iphone-mockup" /> -->
        </div>

    </section>

    <section id="sec2">
        <div class="main-info">
            <div class="text-container">
                <h1 class="h1-style">Lorem Ipsum 2</h1>
                <h4 class="h4-style">Lorem ipsum dolor sit amet consectetur.</h4>
            </div>
            <!-- <img src="../public/images/pngwing.png" alt="iphone-mockup"> -->
        </div>
    </section>

    <section id="sec3">
        <div class="main-info">
            <div class="text-container">
                <h1 class="h1-style">Lorem Ipsum3</h1>
                <h4 class="h4-style">Lorem ipsum dolor sit amet consectetur.</h4>
            </div>
            <!-- <img src="../public/images/pngwing.png" alt="iphone-mockup"> -->
        </div>
    </section>



    <%- include('partials/footer') %>