<%- include('partials/header') %>

    <section id="sec1">
        <div class="main-info-container">
            <div class="main-info">
                <div class="text-container">
                    <h1 class="h1-style">Reduce your carbon footprint</h1>
                    <div class="wrapper">
                        <div class="static-text">Get involved. Save </div>
                        <ul class="dynamic-text">
                            <li>the planet</li>
                            <li>you</li>
                        </ul>
                    </div>
                </div>

                <div class="main-section-buttons">
                    <div class="button-container">
                        <button class="btn-primary">Download</button>
                        <button class="btn-secondary" href="#sec2">About Us</a>
                    </div>
                </div>
            </div>
            <!-- <img class="iphone-img" src="images/pngwing.png" alt="iphone-mockup" /> -->
        </div>

    </section>

    <section id="sec2">
        <div class="main-info">
            <div class="text-container">
                <h1 class="h1-style">Lorem Ipsum 2</h1>
                <h4 class="h4-style">Lorem ipsum dolor sit amet consectetur.</h4>
            </div>
            <!-- <img src="../public/images/pngwing.png" alt="iphone-mockup"> -->
        </div>
    </section>

    <section id="sec3">
        <div class="statistics-container">
            <!-- Bloque vertical de texto -->
            <div class="main-info sec4-container">
                <h1 class="h1-style sec4">Statistics will make you change</h1>
                <h2 class="h2-style">Get a personalized report weekly, monthly<br>or whenever you want.</h2>
                <p class="p-style">Track your overall consuption and see how you are<br>tating the planet.</p>
                <h2 class="h2-style">Compare yourself to others and learn how<br>to improve.</h2>
                <p class="p-style">Dive into LeadU-Ed section and dig depp to fully<br>understand the tremendous impact of Climate<br>Change in our everyday life</p>
                <h2 class="h2-style">Get rewards for nailing a eco friendly<br>lifestyle.</h2>
                <p class="p-style">Complete goals and challenges and receive a<br>generous compensation which you can exchange to<br>plant a tree or to donate to either a non-profit or a<br>rising initiative.</p>
            </div>
            <!-- Bloque de imagen -->
            <div class="img-sec4">
                <img class="img4" src="images/section4.png" alt="statistics-image" />
            </div>
        </div>
    </section>



    <%- include('partials/footer') %>