:root {
    --clr-primary: #A1E41A;
    --clr-secondary: #20AB89;
    --clr-bg: #F4F9F3;
    --clr-small-text: #747374;
    --clr-gray100: #f0f7f8;
    --clr-light-green: #8AD6AD;
    --clr-dark: #535152;
    --clr-lightest-green: #D1E5DD;
    --clr-hover: #098B53;
    --clr-hover-secondary: #989e9b;
    --clr-card: #62D2A2;
    --radius: 0.5rem;
    --font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
}

body {
    background: var(--clr-bg);
    font-family: var(--font-family);
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) {
    height: 90vh;
    background: var(--clr-bg);
}
section:nth-child(2) {
    background: #FFF;
}
section:nth-child(3) {
    background: var(--clr-lightest-green);
}
section:nth-child(4){
    background: #FFF;
}
section:nth-child(5) {
    color: var(--clr-bg);
    height: 100vh; 
}
section:nth-child(6) {
    height: 100vh; 
}

h1 {
    font-family: var(--font-family);
    font-size: 5rem;
    margin-bottom: 10px;
}
h2{
    font-family: var(--font-family);
    font-size: 4rem;
    margin-bottom: 10px;
}

h3 {
    font-family: var(--font-family);
    font-size: 3rem;
    margin-bottom: 10px;
}
h4 {
    font-family: var(--font-family);
    font-size: 2rem;
    margin-bottom: 10px;
}
p{
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 10px;
    color : var(--clr-small-text);
}
img{
    width: 100%;
}

/* SECTION 1 */
navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    background: white;
    box-shadow: 0px 0px 5px black;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: var(--clr-small-text);
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: var(--clr-hover);
    border-bottom: 4px solid var(--clr-primary);
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

.h1-sec1{
    color: var(--clr-secondary);
}


.btn-primary {
    font-family: var(--font-family);
    font-size: 1rem;
    background: var(--clr-primary);
    border: none;
    color: white;
    outline: none;
    border-radius: 50px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-primary:hover {
    background: var(--clr-hover);
}

.btn-secondary {
    font-family: var(--font-family);
    font-size: 1rem;
    background: var(--clr-light-green);
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    margin-left: 2%;
}

.btn-secondary:hover {
    background: var(--clr-hover-secondary);
}
/* SECTION 1 */
.main-info-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 80%;
    justify-content: space-around;
}
.main-info-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}
.main-info-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.main-info {
    display: flex;
    flex-direction: column;
}
.iphone-img {
    transition: transform 0.2s;
    width: 50%;
    /* transform: rotate(10deg); */
}
.iphone-img:hover {
    
    transform: scale(1.2) ;
}



section a {
    display: inline-block;
    padding: 10px 0;
    color: black;
    text-decoration: none;
    width: 8rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
}

.a-primary {
    background-color: var(--clr-primary);
}

.text-container {
    margin-bottom: 5%;
    /* margin-left: 3rem; */
}

.logo-image img {
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.vertical-separator {
    border-left: 3px solid var(--clr-primary);
    height: 40px;
    margin: 0 5% 0 0;
    list-style: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.button-sec1{
    width: 10rem;
}
.wrapper {
    display: inline-flex;
}

.wrapper .static-text {
    font-size: 30px;
    color: var(--clr-small-text);
}

.wrapper .dynamic-text {
    color: var(--clr-small-text);
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 40px;
    line-height: 34.6px;
    overflow: hidden;
}

.dynamic-text li {
    list-style: none;
    padding-top: 2px;
    font-size: 30px;
    position: relative;
    top: 0;
    animation: slide 3s steps(2) infinite;
}

@keyframes slide {
    100% {
        top: -75px;
    }
}

/* SECTION 1 */

/* SECTION 2 */
.h1-sec2{
    color: var(--clr-primary);
}
.h4-sec2{
    color: var(--clr-hover);
}
.sec2-container{
    width: 60%;
    text-align: right;
}
.img-sec2{
    width: 40%;
}

/* section 2 end */

/* SEC 4 */

.statistics-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.sec4-container{
    width: 60%;
}
.sec4{
    color : var(--clr-primary);
    font-size: 3rem;
    margin-bottom: 20px;
}
.h2-style{
    font-family: var(--font-family);
    font-size: 2rem;
    margin-bottom: 10px;
    color : var(--clr-hover);
}
.p-style{
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 10px;
    color : var(--clr-small-text);
}
.img-sec4{
    width: 40%;
}


/* SECTION 5 */
.sec5 {
    color : var(--clr-secondary);
}
.main-section5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    width: 13rem;
    height: 11rem;
    background-color: var(--clr-lightest-green);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.2);
}

.card-img {
    width: 65px;
    height: 65px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: var(--clr-primary);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.25);
}

.p-name {
    margin-top: 1rem;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--clr-small-text);
}

.p-content {
    margin-top: 0.5rem;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 100;
    color: var(--clr-dark);
}
/* SECTION 6 */
.faq-contact-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
/* LEFT SECTION */
.left-container{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.left-container-size{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h3-sec6{
    text-align: center;
    color: var(--clr-hover);
}

.left-container-card:nth-child(even){
    margin-left: 2rem;
}
.h4-sec6{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 1rem;
}
.left-container-card{
    background-color: var(--clr-card);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin-bottom: 1.9rem;
    height: 6rem;
    width: 28rem;
    transition: transform 0.2s;
}
.left-container-card:hover{
    transform: scale(1.2) ;
}
/* LEFT SECTION */
/* RIGHT SECTION */

.right-container{
    /* padding-top: 7rem; */
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--clr-lightest-green);
}

.right-container-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.h3-sec6{
    text-align: center;
    color: var(--clr-hover);
}

.h4-sec6{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 1rem;
}
.title-container{
    width: 30rem;
    text-align: right;
    margin-bottom: 5px;
}

.right-container-size label{
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 100;
    color: var(--clr-small-text);
    padding: 0.5rem;
}
input{
    border: 3px solid var(--clr-card);
    height: 1.5rem;
    padding-left: 1rem;
    border-radius: 25px;
    width: 30rem;
    height: 3rem;
    margin-bottom: 10px;
    font-family: var(--font-family);
}
textarea{
    border: 3px solid var(--clr-card);
    padding-left: 1rem;
    border-radius: 25px;
    width: 30rem;
    font-family: var(--font-selected);
    resize: none;
    margin-bottom: 3rem;
}
textarea:focus{
    outline-color:var(--clr-hover);
}
.sec6-button{
    width: 15rem;
}

/* RIGHT SECTION */

/* FOOTER */

footer {
    width: 100%;
    height: 10vh;
    z-index: 1;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.img-footer{
    /* min-width: 100%; */
    width: 10rem;
}

.ppp{
    width: 50%;
    justify-content: center;
    text-align: center;
}
.text-footer {
    color: white;
    font-family: var(--font-family);
    margin-bottom: 0;
}