<footer>
    <div class="footer-container">

        <div class="image-container">
            <img src="..\images\LeafU_Logo_Wide_WHT.png" alt="logo">
        </div>
        <p class="text-footer">All rights reserved © 2022</p>
    </div>
</footer>