<footer>
    <div class="footer-container">
        <div class="image-container">
            <img class="img-footer" src="..\images\LeafU_Logo_Wide_WHT.png" alt="logo">
        </div>
        <div class="ppp">
            <p class="text-footer">All rights reserved © 2022</p>
        </div>
    </div>
</footer>